.DS_Store
# labeldata
/Annotation/labeldata/export/*
/Annotation/labeldata/label_studio.sqlite3
/Annotation/labeldata/media/*

# None
/Annotation/mlbackend_c

*.pt
*.jpg
yolov8/src/datasets/*
yolov8/src/runs/*
